﻿@media (min-width: 768px) and (min-height: 1024px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        margin-right: 15%;
    }
}

.nav-item {
    margin-right: 15%;
}

/* Custom styles for smaller screens (up to 767px) */
@media (max-width: 767px) {
    .nav-item {
        margin-right: 15%; /* Adjust the spacing as needed */
    }

    .form-control {
        max-width: 55%; /* Adjust the width as needed */
    }

    .navbar-nav {
        flex-wrap: wrap;
    }
}
