﻿@page "/categories"

@inherits CategoriesBase;
@using CarMarket.Client.Components
@using CarMarket.Shared;
@using CarMarket.Domain.Entities.Localizations;
@using CarMarket.Components;

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class='wrapper'>
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center ">
            <div class="container-fluid">
                <ul class="navbar-nav d-flex flex-row me-auto mb-2 mb-lg-0 m-auto">
                    @foreach (var category in categories)
                    {
                        <li class="nav-item" @onclick="e => CategoryClick(e, category.Id)">
                            <i class="nav-link @category.IconClass h1"></i>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>

    <Items LocationId="SelectedCategoryId">

    </Items>
}
