﻿@inherits ItemsBase;

@using CarMarket.Shared.Models;

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid pt-3">
        <div class="container-fluid pt-3 list-group items">
            @foreach (ItemModel item in items)
            {
                <a href="#" class="list-group-item list-group-item-action mb-3 mx-auto">
                    <div class="card col-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-4 d-flex justify-content-center">
                                <img src="data:image/jpeg;base64,@item.Base64Image" class="card-img-top" alt="...">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <div class="row align-items-end">
                                        <div class="col-12 col-sm-8">
                                            <h5 class="card-title">@item.Name</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Mercedes</h6>
                                            <p class="card-text">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <i class="fa fa-battery-empty font-70px fa-battery-filling" aria-hidden="true">
                                                            <span id="result2" style="width:calc(@item.BatteryHealth% * 0.73)"></span>
                                                        </i>
                                                    </div>
                                                    <div class="col-6 justify-content-end">
                                                        <h1 class="mx-auto p-2">@item.BatteryHealth %</h1>
                                                    </div>
                                                </div>
                                            </p>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

}